*,html,body{
	padding: 0;
	margin:0;
	font-family: "微软雅黑";
}
html,body{
	width: 100%;
	overflow-x: hidden;
}
.design-width-size{
	width:1000px;
	margin:0 auto;
}
.block-style{	/*内容区各主模块的通用样式*/
	margin-top: 58px;
}
.tab-content{
	width: 100%;
	/*height: 100%;*/
}
.blue-shadow{ /*蓝色遮罩层*/
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: #13afff;
	opacity: 0.6;
}
.pointer-style{	/* 查看详情 图片样式 */ 
	cursor: pointer;
}
.clear-fix:after{
	content: "";
	clear: both;
	line-height: 0;
	display: block;
	visibility: hidden;
}
.header{
	width: 100%;
	height: 126px;
	background-color: #f7f8f8;
	position: fixed;
	top:0;
	left: 0;
	z-index: 1000;
}



.header .header-middle-big-logo{
	width: 162px;
	height: 162px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -36px;
	margin:0 auto;
}
.header-left-part{
	width: 410px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 20px;
	
}
.header-right-part{
	width: 410px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.service-for-mobaby{
	width: 170px;
	height: 68px;
	position: absolute;
	right: 14px;
	top: 22px;
}
.service-for-mobaby img{
	width: 100%;
	height: 100%;
}
.nav-right-info{
	position: absolute;
	left: 0;
	left: 4px;
}
.header-search-block{
	position: absolute;
	right: 30px;
	top: 50px;
}


.header .header-middle-big-logo img{
	width: 100%;
	height: 100%;
}

.header-content{
	width: 1000px;
	height: 100%;
	position: relative;
	margin:0 auto;
}
.logo-pic{
	width: 260px;
	height: 61px;
	margin:0 auto;
	padding-top: 20px ;
}
.search-group,.search-group img,.search-group input{
	vertical-align: top;
}
.search-group{
	margin-top: 6px;
}
.header-nav{
	width: 782px;
	margin: 0 auto;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.phone-animate-block img{
	float: left;
}
.phone-animate{
	color:#0a006a;
	font-weight: bold;
}
.phone-animate span,.phone-animate-block .phone-animate div{
	float: left;
	width: 10px;
	height: 20px;
	line-height: 20px;
}
.font-size-18{
	font-size: 18px;
	transition-duration: 0.5s;
}
.tab-content-card{
	display: none;
}
.tab-card-show{
	display: block;
}
.nav-sons{
	width: 78px;
	height: 40px;
	line-height: 40px;
	float:left;
	text-align: center;
	font-size: 10px;
	color: #0a006a;
	letter-spacing: 2px;
	cursor: pointer;
	font-weight: 800;
}
.nav-sons span a{
	color:#0a006a;
}
.nav-sons ul{
	border:0px solid #ff5791 ;
}
.nav-sons ul li{
	list-style: none;
	width: 100%;
	height: 0;
	position: relative;
	overflow: hidden;
}
.nav-sons-list-main{
	overflow: hidden;
}
.nav-sons:hover li{
	height: 32px;
	transition-duration: 0.2s;
}
.nav-sons:hover ul{
	border-width: 1px;
}
.nav-list-font{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 700;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 40px;
}
.white-shadow{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ff5791;
	opacity: 0.8;
	z-index: 600;
	top: 0;
	left: 0;
}
.nav-sons li a{
	color: #FFFFFF;
}
.nav-sons:hover a{
	transition-duration: 0.1s;
	/*color: #f51865;*/
	text-decoration: none;
}
.nav-sons li:hover a{
	color: #0a006a;
	transition-duration: 0.5s;
}
.nav-sons span{
	padding-bottom: 2px;
	border-bottom-color:#f51865;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}
.nav-right-info{
	width: 160px;
	height: 65px;
	position: absolute;
	top: 20px;
	right: -74px;
}
.nav-right-info div{
	width: 100%;
}
.index-content-wrap{
	width: 100%;
	margin-top: 126px;
	background-color: #f7f8f8;
	padding-bottom: 44px;
}
.focus-block,.swiper-container,.swiper-wrapper,.swiper-slide,.swiper-slide img{
	width: 100%;
}
.news-consultation-block{
	
}
.block-header-logo{
	float: left;
}
.block-header-tab-title{
	float: right;
}
.tab-title-sons{
	float: left;
	width: 76px;
	height: 64px;	
	color: #13afff;
	font-size: 12px;
	letter-spacing: 1px;	
	position: relative;
}
.tab-title-sons:hover,.tab-title-sons-select{
	background-color:#ff5791 ;
	color: #FFFFFF;
	cursor: pointer;
	transition-duration: 0.2s;
}
.tab-title-sons:hover .font-hover-3861{
	color: #FFFFFF;
}
.block-header-tab-title .font-hover-3861{
	text-align: center;
	color: #f7f8f8;
	height: auto;
}
.tab-title-sons-block{
	height: 34px;
	width: 52px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.block-content{
	border-top: 6px solid #106da1;
	/*height: 434px;*/
}

/******************************************* 侧边工具栏 样式*/
#side-tools-bar{
	width: 52px;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 30%;
}
#side-tools-bar div{
	width: 100%;
	height: 52px;
	margin-bottom: 2px;
	border: 2px solid #316889;
	cursor: pointer;
}
#side-tools-bar div img{
	width: 100%;
	height: 100%;
}
/******************************************* 侧边工具栏 样式END*/



/* ******************************************新闻资讯 样式 */
.news-content-left,.news-content-right{
	float: left;
}
.news-content-left{
	width: 348px;
}
.news-content-left:hover h1,.news-shorty-block:hover h1{
	text-decoration: underline;
}
.news-view-quickly-pic{
	width: 100%;
	height: 200px;
}
.news-view-quickly-content h1{
	font-size: 14px;
	color:#595757;
	font-weight: bold;
}
.news-view-quickly-content p{
	color: #898989;
	font-size: 12px;	
}
.news-shorty-block{
	height: 90px;
	overflow: hidden;
	margin:13px 0;
}
.news-content-right{
	width: 634px;
	margin-left: 18px;
}
.news-content-right .tab-content .news-left-date{
	width: 90px;
	height: 100%;
	float: left;
	text-align: center;
}
.news-content-right .tab-content .news-left-date h2{
	color: #13afff;	
	font-weight: bold;
}
.news-content-right .tab-content .news-left-date div{
	color: #898989;
}
.news-content-right .tab-content .news-right-content{
	width: 544px;
	padding-left: 10px;
	height: 100%;
	float: left;
	border-left: 1px solid #b9b9b9;
}
.news-right-content h1{
	color: #595757;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.news-right-content p{
	color: #898989;
	font-size: 12px;
}
/* *********************************新闻资讯 样式 END */

/********************************实播栏目 模块样式  */
#Broadcasts-Columns .block-content{
	/*height: 360px;*/	
}
.Broadcasts-produck-block{
	width: 199px;
	height: 375px;
	float: left;
	margin-right: 1px;	
	position: relative;
}
.Broadcasts-produck-pic{
	width: 100%;
	height: 275px;
	position: relative;
}
.Broadcasts-produck-pic img{
	width: 100%;
	height: 100%;
}
/* 产品介绍信息标签在下 的 产品展示块样式 */
.Broadcasts-produck-info-bottom,.Broadcasts-produck-info-top{	
	background-color: #f8f8f8;
	color: #13afff;
	width: 100%;
	height: 100px;
	text-align: center;
	padding: 8px;
	overflow: hidden;
}
.Broadcasts-produck-info-bottom{
	position: absolute;
	bottom: 0;
}
.Broadcasts-label-bottom:hover .Broadcasts-produck-info-bottom{
	bottom:275px;
	background-color: #ff5791;
	color: #f8f8f8;
	transition-duration: 0.3s;
}

/* 产品介绍信息标签在上 的 产品展示块样式 */
.Broadcasts-label-top .Broadcasts-produck-pic{
	position: absolute;
	bottom: 0;	
	z-index: 100;
}
.Broadcasts-label-top .Broadcasts-produck-info-top{
	position: absolute;
	top: 0;
	z-index: 200;
}
.Broadcasts-label-top:hover .Broadcasts-produck-pic{
	bottom: 100px;
	transition-duration: 0.35s
}
.Broadcasts-label-top:hover .Broadcasts-produck-info-top{
	background-color: #ff5791;
	color: #f8f8f8;
	transition-duration: 0.3s;
}

/*遮罩层取消*/
.Broadcasts-produck-block:hover .Broadcasts-produck-pic .blue-shadow{
	opacity: 0;
	transition-duration: 0.35s;
	z-index: -1;
}
.Broadcasts-produck-info-bottom .Broadcasts-product-info-date{
	font-size: 12px;
}
.Broadcasts-produck-info-bottom h1,.Broadcasts-produck-info-top h1{
	font-size: 14px;
	font-weight: bold;
	margin:0;
}
.Broadcasts-produck-info-bottom .Broadcasts-product-info-detail,.Broadcasts-produck-info-top .Broadcasts-product-info-detail{
	font-size: 12px;
}

/* **********************************实播栏目 模块样式 END*/

/* *********************************** 品牌形象 模块样式*/
.brand-image-pics,.product-center-pics{
	width: 100%;
}
.brand-image-pics img,.product-center-pics img{
	width: 100%;
}
#brandImage-Focus .swiper-slide{
	width: 286px;
	opacity: 0.5;
	transition-duration: 0.35s;
}
#brandImage-Focus .swiper-no-opacity{
	opacity: 1;
}
.swiper-no-shadow{
	opacity: 0;
	transition-duration: 0.35s;
}
.swiper-slide img{
	width: 100%;
}

/* **********************************品牌形象 模块样式 END*/

/* ********************************产品中心 模块样式*/
.product-center-content-block{
	width: 235px;
	height: 322px;
	border: 4px solid #13afff;
	float: left;
	cursor: pointer;
	position: relative;
}
.margin-right-20{
	margin-right: 20px;
}
.product-center-pics{
	margin-bottom: 40px;
}
.product-center-content-block img{
	width: 100%;
}
.product-center-shadow-bottom{
	text-align: center;
	position: absolute;
	color: #13afff;
	bottom: 20px;
	z-index: 500;
}
.product-center-shadow-bottom h2{
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
.product-center-shadow-bottom h3{
	font-size: 14px;
	margin: 0;
}
.product-center-shadow{
	width: 100%;
	height: 390px;
	position: absolute;
	top: 0;
	left: 0;
}
.product-center-shadow .blue-shadow{
	opacity: 0;
}
.product-center-content-block:hover{
	border-color: #ff5791;
	transition-duration: 0.35s;
}
.product-center-content-block:hover .product-center-shadow-bottom{
	color: #ff5791;
	transition-duration: 0.35s;
}
.product-center-content-block:hover .product-center-shadow .blue-shadow{
	opacity: 0.4;
}
.product-center-content-block:hover .product-center-shadow-top{
	opacity: 1;
	
}
.product-center-shadow-top{
	text-align: center;
	opacity: 0;
	position: absolute;
	z-index: 500;
	top: 60px;
	color: #ff5791;
	transition-duration: 0.5s;
}
.product-center-shadow-top h2{
	font-size: 16px;
}
.product-center-shadow-top p{
	font-size: 14px;
	padding: 0 16px;
}
/*****************************产品中心 END  */

/*******************************加盟合作*/
.join-us{
	margin-top: 140px;
}
.join-us img{
	cursor: pointer;
}
/*******************************加盟合作 END*/

/* *****************************尾部*/
.footer{
	width: 100%;
	background-color: #e4e4e5;
	padding-top: 24px;
	padding-bottom: 40px;
}
.footer .footer-content{
	width: 1000px;
	margin: 0 auto;
}
.footer .top-block{
	padding-bottom: 24px;
	margin-bottom: 14px;
	border-bottom: 1px solid #b9b9b9;
}
.footer .left-part{
	float: left;
}
.footer .right-part{
	float: right;
}
.footer .left-part ul li{
	list-style: none;
}
.footer .left-part ul li a{
	font-size: 12px;
	color: #0a006a;
}
.footer .left-part ul{
	float: left;
	margin-right: 30px;
}
.footer .left-part ul h2{
	font-size: 16px;
	color: #0a006a;
	font-weight: bold;
	margin: 0;
}
.footer .left-part ul h3{
	font-size: 14px;
	color: #4b43a0;
	margin-top: 0;
	font-weight:normal ;
}
.footer .right-part h2{
	font-size: 12px;
	color: #0a006a;
	margin-top: 0;
}
.footer .right-part input,.footer .right-part textarea{
	border: 2px solid #0a006a;
}
.footer .float-L{
	float: left;
}
.footer .bottom-block p{
	margin: 0 0 5px;
	font-size: 12px;
	color: #0a006a;
	
}
.footer .bottom-block li,.footer .bottom-block li a{
	list-style: none;
	float: left;
	font-size: 12px;
	color: #0a006a;
}
.footer .bottom-block li a{
	margin-right: 12px;
	font-weight: bold;
}
.float-R{
	float: right;
}
.copyright{
	text-align: center;
	font-size: 12px;
	color: #595757;
	margin-top: 20px;
}
